<phpunit
        colors="true"
        processIsolation="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        bootstrap="tests/bootstrap.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="mongo">
            <file>tests/MongoTest.php</file>
        </testsuite>
        <testsuite name="serialize">
            <file>tests/SerializeTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>

